lololol
<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="videogame.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="title">Max Players</label>
        <input
          type="text"
          class="form-control"
          id="features_maxplayers"
          required
          [(ngModel)]="videogame.features_maxplayers"
          name="features_maxplayers"
        />
      </div>

      <div class="form-group">
        <label for="title">Multiplatform?</label>
        <input
          type="text"
          class="form-control"
          id="features_multiplatform"
          required
          [(ngModel)]="videogame.features_multiplatform"
          name="features_multiplatform"
        />
      </div>

      <div class="form-group">
        <label for="title">Online?</label>
        <input
          type="text"
          class="form-control"
          id="features_online"
          required
          [(ngModel)]="videogame.features_online"
          name="features_online"
        />
      </div>

      <div class="form-group">
        <label for="title">Genres</label>
        <input
          type="text"
          class="form-control"
          id="metadata_genres"
          required
          [(ngModel)]="videogame.metadata_genres"
          name="metadata_genres"
        />
      </div>

      <div class="form-group">
        <label for="title">Licensed?</label>
        <input
          type="text"
          class="form-control"
          id="metadata_licensed"
          required
          [(ngModel)]="videogame.metadata_licensed"
          name="metadata_licensed"
        />
      </div>

      <div class="form-group">
        <label for="title">Publishers</label>
        <input
          type="text"
          class="form-control"
          id="metadata_publishers"
          required
          [(ngModel)]="videogame.metadata_publishers"
          name="metadata_publishers"
        />
      </div>

      <div class="form-group">
        <label for="title">Sequel?</label>
        <input
          type="text"
          class="form-control"
          id="metadata_sequel"
          required
          [(ngModel)]="videogame.metadata_sequel"
          name="metadata_sequel"
        />
      </div>

      <div class="form-group">
        <label for="title">Review Score</label>
        <input
          type="text"
          class="form-control"
          id="metrics_reviewscore"
          required
          [(ngModel)]="videogame.metrics_reviewscore"
          name="metrics_reviewscore"
        />
      </div>

      <div class="form-group">
        <label for="title">Sales</label>
        <input
          type="text"
          class="form-control"
          id="metrics_sales"
          required
          [(ngModel)]="videogame.metrics_sales"
          name="metrics_sales"
        />
      </div>

      <div class="form-group">
        <label for="title">Used Price</label>
        <input
          type="text"
          class="form-control"
          id="metrics_usedprice"
          required
          [(ngModel)]="videogame.metrics_usedprice"
          name="metrics_usedprice"
        />
      </div>

      <div class="form-group">
        <label for="title">Console</label>
        <input
          type="text"
          class="form-control"
          id="release_console"
          required
          [(ngModel)]="videogame.release_console"
          name="release_console"
        />
      </div>

      <div class="form-group">
        <label for="title">Rating</label>
        <input
          type="text"
          class="form-control"
          id="release_rating"
          required
          [(ngModel)]="videogame.release_rating"
          name="release_rating"
        />
      </div>

      <div class="form-group">
        <label for="title">Re-release?</label>
        <input
          type="text"
          class="form-control"
          id="release_rerelease"
          required
          [(ngModel)]="videogame.release_rerelease"
          name="release_rerelease"
        />
      </div>

      <div class="form-group">
        <label for="title">Year</label>
        <input
          type="text"
          class="form-control"
          id="release_year"
          required
          [(ngModel)]="videogame.release_year"
          name="release_year"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - All Playstyles(Average)</label>
        <input
          type="text"
          class="form-control"
          id="length_allplaystyles_average"
          required
          [(ngModel)]="videogame.length_allplaystyles_average"
          name="length_allplaystyles_average"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - All Playstyles(Leisure)</label>
        <input
          type="text"
          class="form-control"
          id="length_allplaystyles_leisure"
          required
          [(ngModel)]="videogame.length_allplaystyles_leisure"
          name="length_allplaystyles_leisure"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - All Playstyles(Median)</label>
        <input
          type="text"
          class="form-control"
          id="length_allplaystyles_median"
          required
          [(ngModel)]="videogame.length_allplaystyles_median"
          name="length_allplaystyles_median"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - All Playstyles(Polled)</label>
        <input
          type="text"
          class="form-control"
          id="length_allplaystyles_polled"
          required
          [(ngModel)]="videogame.length_allplaystyles_polled"
          name="length_allplaystyles_polled"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - All Playstyles(Rushed)</label>
        <input
          type="text"
          class="form-control"
          id="length_allplaystyles_rushed"
          required
          [(ngModel)]="videogame.length_allplaystyles_rushed"
          name="length_allplaystyles_rushed"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Completionists(Average)</label>
        <input
          type="text"
          class="form-control"
          id="length_completionists_average"
          required
          [(ngModel)]="videogame.length_completionists_average"
          name="length_completionists_average"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Completionists(Leisure)</label>
        <input
          type="text"
          class="form-control"
          id="length_completionists_leisure"
          required
          [(ngModel)]="videogame.length_completionists_leisure"
          name="length_completionists_leisure"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Completionists(Median)</label>
        <input
          type="text"
          class="form-control"
          id="length_completionists_median"
          required
          [(ngModel)]="videogame.length_completionists_median"
          name="length_completionists_median"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Completionists(Polled)</label>
        <input
          type="text"
          class="form-control"
          id="length_compltetionists_polled"
          required
          [(ngModel)]="videogame.length_compltetionists_polled"
          name="length_compltetionists_polled"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Completionists(Rushed)</label>
        <input
          type="text"
          class="form-control"
          id="length_completionists_rushed"
          required
          [(ngModel)]="videogame.length_completionists_rushed"
          name="length_completionists_rushed"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Plus Extras(Average)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainplusextras_average"
          required
          [(ngModel)]="videogame.length_mainplusextras_average"
          name="length_mainplusextras_average"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Plus Extras(Leisure)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainplusextras_leisure"
          required
          [(ngModel)]="videogame.length_mainplusextras_leisure"
          name="length_mainplusextras_leisure"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Plus Extras(Median)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainplusextras_median"
          required
          [(ngModel)]="videogame.length_mainplusextras_median"
          name="length_mainplusextras_median"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Plus Extras(Polled)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainplusextras_polled"
          required
          [(ngModel)]="videogame.length_mainplusextras_polled"
          name="length_mainplusextras_polled"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Plus Extras(Rushed)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainplusextras_rushed"
          required
          [(ngModel)]="videogame.length_mainplusextras_rushed"
          name="length_mainplusextras_rushed"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Story(Average)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainstory_average"
          required
          [(ngModel)]="videogame.length_mainstory_average"
          name="length_mainstory_average"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Story(Leisure)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainstory_leisure"
          required
          [(ngModel)]="videogame.length_mainstory_leisure"
          name="length_mainstory_leisure"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Story(Median)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainstory_median"
          required
          [(ngModel)]="videogame.length_mainstory_median"
          name="length_mainstory_median"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Story(Polled)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainstory_polled"
          required
          [(ngModel)]="videogame.length_mainstory_polled"
          name="length_mainstory_polled"
        />
      </div>

      <div class="form-group">
        <label for="title">Length - Main Story(Rushed)</label>
        <input
          type="text"
          class="form-control"
          id="length_mainstory_rushed"
          required
          [(ngModel)]="videogame.length_mainstory_rushed"
          name="length_mainstory_rushed"
        />
      </div>

      <button (click)="createVideogame()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="submitted">
      <h3>You successfully added a videogame!</h3>
      <button class="btn btn-success" (click)="newVideogame()">New..</button>
    </div>
  </div>
</div>
